<div class="container">
    <mat-card class="home-report-card home-new-report" fxLayout="column" fxLayoutAlign="center center">
        <core-ui-button text="➕ Lapor progres kamu" classtouse="btn-home-new btn-add"></core-ui-button>
    </mat-card>

    <mat-card class="home-report-card home-primary-card"  fxLayout="column" fxLayoutAlign="center center">

    </mat-card>

    <mat-card class="home-report-card home-secondary-card"  fxLayout="column" fxLayoutAlign="center center">

    </mat-card>

    <mat-card class="home-report-card home-danger-card"  fxLayout="column" fxLayoutAlign="center center">

    </mat-card>
</div>