<div fxLayout="row">
  <mat-card
    class="home-report-card home-new-report card"
    style="display:flex; justify-content:center; align-items:center;"
  >
    <core-ui-button
      text="➕ Lapor progres kamu"
      classtouse="btn-home-new btn-add"
      (click)="addReport()"
    >
    </core-ui-button>
  </mat-card>
  <div class="container" *ngFor="let data of dataHome.slice(0, 4)">
    <mat-card *ngIf="data.id === null" class="home-danger-card">
      <mat-card-header style="justify-content: center;">
        <mat-card-title>
          <b>
            <core-ui-text-view
              text="{{ data.reportdate | date: 'EE, d MMMM yyyy' }}"
              classtouse="red subtitle"
            >
            </core-ui-text-view>
          </b>
          <mat-divider></mat-divider>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <b>
          <core-ui-text-view
            style="justify-content: center;"
            text="Kosong amat dah disini..."
            classtouse="center red bold"
            style="justify-content: center; align-items: center; font-size: medium;"
          >
          </core-ui-text-view>
        </b>
        <core-ui-button
          text="Klik buat isi tanggal ini"
          classtouse="btn-green btn-incard-homeconfirm"
          (click)="addReport(data.reportdate)"
          style="justify-content: center;"
        ></core-ui-button>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="data.id !== null" class="cardHome">
      <mat-card-header style="justify-content: center;">
        <mat-card-title>
          <core-ui-text-view
            text="{{ data.reportdate | date: 'EE, d MMMM yyyy' }}"
            classtouse="subtitle"
          >
          </core-ui-text-view>
          <mat-divider></mat-divider>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let project of data.division.slice(0, 2)">
          <core-ui-text-view
            text="{{ project.projectname }}"
            classtouse="default bold"
          >
          </core-ui-text-view>
          <core-ui-text-view text="{{ project.rolename }}" classtouse="grey">
          </core-ui-text-view>
          <div *ngFor="let task of data.division[0].task.slice(0, 2)">
            <div fxLayout="row" layout-xs="column">
              <div fxFlex="90">
                <core-ui-text-view
                  text="{{ task.jobdesc }}"
                  classtouse="default"
                >
                </core-ui-text-view>
              </div>
              <div fxFlex="10" layout-align="end center">
                <core-ui-text-view text="{{ task.percentage }}%">
                </core-ui-text-view>
              </div>
            </div>
          </div>
          <core-ui-text-view
            text="{{
              data.division[0].task.length > 2
                ? '+ ' +
                  (data.division[0].task.length - 2) +
                  ' pekerjaan lainnya'
                : ''
            }}"
            classtouse="default"
          >
          </core-ui-text-view>
          <mat-divider></mat-divider>
          <br />
        </div>
        <core-ui-text-view
          text="{{
            data.division.length > 2
              ? '+ ' + (data.division.length - 2) + ' project lainnya'
              : ''
          }}"
          classtouse="bold"
        >
        </core-ui-text-view>
        <br />
        <core-ui-button
          text="Lihat isinya dong"
          classtouse="btn-blue btn-incard-homeconfirm"
          (click)="reportDetail(data.reportdate)"
          style="justify-content: center;"
        ></core-ui-button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
