<body>
    <section id="loginAdmin">
      <form class="loginForm" method="POST" >
        <core-ui-text-view text="Codify" classtouse="title-login-admin"></core-ui-text-view>
        <div style="padding:196px">
          <core-ui-text-view text="Halo,Admin!" classtouse="bold" class="subtitle-login"></core-ui-text-view>
          <div class="form-group">
            <core-ui-text-input text="Username" classtouse="user"></core-ui-text-input>
          </div>
          <div class="form-group">
            <core-ui-text-input text="Password" classtouse="user" ></core-ui-text-input>
          </div>
          <div class="form-group">
            <core-ui-button text="Masuk" classtouse="btn-blue btn-login" onclick='(function(){alert(); })();' style="margin-left: 118px;"></core-ui-button>
          </div>
        </div>
      </form>
    </section>
  </body>