<body>
    <component-header text="Hello, Admin"></component-header>
    <section id="main-dashboard-time">
        <div style="display: inline-block; width: 50px; height: 20px;">
            <core-ui-button text="Export csv" classtouse="btn-tosca btn-free-homelittle" style="margin-left: 995px; padding-top: 100px"></core-ui-button>
        </div>
        <div style="display: inline-block; width: 250px; height: 20px;">
            <core-ui-text-view text="Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
        </div>
        <div style="display: inline-block; width: 60px; height: 20px;">
            <core-ui-text-view text="Lihat : " classtouse="bold"></core-ui-text-view>
        </div>
        <div style="display: inline-block; width: 160px; height: 20px;">
            <input id="date" type="date" value="">
        </div>
        <div style="display: inline-block; width: 60px; height: 20px;">
            <core-ui-text-view text="Hingga " classtouse="bold"></core-ui-text-view>
        </div>
        <div style="display: inline-block; width: 90px; height: 20px;">
            <input id="date" type="date" value="">
        </div>

        <div>
            <mat-card *ngFor="let item of objectCard" (click)="onClick()" class="cabor">
                <mat-card-header>
                    <mat-card-title class="title">{{ item.reportdate | date:'fullDate'}}</mat-card-title>
                </mat-card-header>
                <hr />
                <mat-card-content  class="content" *ngFor="let role of item.rolename.slice(0,3)">
                    <div>
                        {{role}}
                    </div>
                </mat-card-content>
                <p class="content" *ngIf="item.rolename.length > 3">{{'+ ' + (item.rolename.length - 3) + ' role lainnya'}}</p>
            </mat-card>
        </div>
    </section>
</body>