
<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to Our Custom Text View
  </h1>
  <core-ui-text-view text="Halo, Default" classtouse=""></core-ui-text-view>
  <core-ui-text-view text="Laporan; class=title" classtouse="title"></core-ui-text-view>
  <core-ui-text-view text="Kamis, 27 November 2019; class=subtitle" classtouse="subtitle"></core-ui-text-view>
  <core-ui-text-view text="Kamu dan Kamu; class=bold" classtouse="bold"></core-ui-text-view>
  <core-ui-text-view text="Kamu Belum Melakukan Traksaksi Apa Apa; class=grey" classtouse="grey"></core-ui-text-view>
  <core-ui-text-view text="Ada Project Lainnya Lagi Nih; class=blue" classtouse="blue"></core-ui-text-view>
  <core-ui-text-view text="Jangan dulu deh; class=red" classtouse="red"></core-ui-text-view>

  <core-ui-text-input text="Project yang kamu kerjain apa?" classtouse="grey"></core-ui-text-input><br><br>
  <core-ui-text-input text="Kamu jadi apa di project ini?" classtouse="abu"></core-ui-text-input><br><br>
  <core-ui-text-input text="  Apa yang kamu kerjain?" classtouse="kecil"></core-ui-text-input><br><br>
  <core-ui-text-input text="  Ceritain dong kaya gimana..." classtouse="besar"></core-ui-text-input><br><br>
  <core-ui-text-input text=" Username" classtouse="usr"></core-ui-text-input><br><br>
  <core-ui-text-input text=" Password" classtouse="psw"></core-ui-text-input><br><br>
</div>
<router-outlet></router-outlet>