<component-header text="Hello, Admin"></component-header>
<div class="top">
    <div class="beinline-left">
        <core-ui-dropdown
            [data]="dataMainDashboardDropdown" function="selectedMainDashboardCategory"
            placeholder="Project" classtouse="bluewhite"
            style="position: absolute; top: 15px; left: 40px;">
        </core-ui-dropdown>
        <form (submit)="onSubmit(search.value)" class="placer" >
            <input type="text" #search placeholder="Cari project" onfocus="this.value=''" >
        </form>


    </div>
    <div class="beinline-right">
        <core-ui-button text="Export csv" classtouse="btn-tosca btn-free-homelittle"></core-ui-button>&nbsp;&nbsp;
        <core-ui-button text="➕ Tambah {{featureTambah}}" classtouse="btn-home-new"></core-ui-button>
    </div>
</div>

<div class="kiddie">
    <div *ngIf="showDetailProject">
        <div *ngFor="let obj of dataProjectName">
            <div class="dropdown bondro1">
                <core-ui-expansion-tile [text]="obj.projectname" (click)="getDetailName(obj)"></core-ui-expansion-tile>
            </div>
        </div>
    </div>
    <div *ngIf="showSearchProject">
        <div *ngFor="let obj of searchDataProject">
            <div class="dropdown bondro1">
                <core-ui-expansion-tile [text]="obj.projectname" (click)="getDetailName(obj)"></core-ui-expansion-tile>
            </div>
        </div>
    </div>
    <div *ngIf="showDetailRole">
        <div *ngFor="let obj of dataRoleName">
            <div class="dropdown bondro1">
                <core-ui-expansion-tile [text]="obj.rolename" (click)="getDetailName(obj)"></core-ui-expansion-tile>
            </div>
        </div>
    </div>
    <div *ngIf="showSearchRole">
        <div *ngFor="let obj of searchDataRole">
            <div class="dropdown bondro1">
                <core-ui-expansion-tile [text]="obj.rolename" (click)="getDetailName(obj)"></core-ui-expansion-tile>
            </div>
        </div>
    </div>
    <div *ngIf="showDetailUser">
        <div *ngFor="let obj of dataUserName">
            <div class="dropdown bondro2">
                <core-ui-expansion-tile [text]="obj.username" (click)="getDetailName(obj)"></core-ui-expansion-tile>
            </div>
        </div>
    </div>
    <div *ngIf="showSearchUser">
        <div *ngFor="let obj of searchDataUser">
            <div class="dropdown bondro1">
                <core-ui-expansion-tile [text]="obj.username" (click)="getDetailName(obj)"></core-ui-expansion-tile>
            </div>
        </div>
    </div>
</div>
