<div style="position:absolute; top:0; bottom:0; left:0; right: 0; display: flex; flex-direction: column;">
    <component-header text="Hello, {{userName}}"></component-header>
    <mat-sidenav-container style="flex: 1">
        <mat-sidenav mode="side" opened="true">
            <mat-card class="cabor">
                <mat-card-title>
                    <core-ui-text-view text="Laporan" classtouse="title"></core-ui-text-view>
                </mat-card-title>
                <mat-card-subtitle>
                    <core-ui-text-view text="{{this.stringDate | date: 'EEEE, d MMMM yyyy'}}" classtouse="subtitle"></core-ui-text-view>
                </mat-card-subtitle>
            </mat-card>
            <mat-card #commentCard *ngFor="let obj of dataReportDetail" class="cabor" (click)="change(obj)" tabindex="0">
                <div class="minmarg1">
                    <div class='beinline-left'>
                        <svg-group1191></svg-group1191>
                    </div>
                    <div class='beinline-right'>
                        <mat-card-title>
                            <core-ui-text-view [text]="obj.projectname" classtouse="bold"></core-ui-text-view>
                        </mat-card-title>
                    </div>
                </div>
                <div class="minmarg2">
                    <div class='beinline-left'>
                        <svg-group1192></svg-group1192>
                    </div>
                    <div class='beinline-right'>
                        <mat-card-subtitle>
                                <core-ui-text-view [text]="obj.rolename" classtouse="grey"></core-ui-text-view>
                        </mat-card-subtitle>
                    </div>
                </div>
                <mat-card-subtitle>
                    <core-ui-text-view [text]="'Kamu sudah melakukan ' + obj.task.length + ' pekerjaan pada project ini'" classtouse="blue"></core-ui-text-view>
                </mat-card-subtitle>
            </mat-card>
            <br><br><br>
            <div class="edlap">
                    <core-ui-button text="Edit laporan" classtouse="btn-blue btn-free-reportadd"></core-ui-button>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div *ngFor="let obj of selectedData">
                <div class="imagi">
                    <div *ngFor="let tta of obj.task">
                        <div class="nextnext">
                            <mat-card #commentCard class="caboria" tabindex="0">
                                <div class="pesento space-between">
                                    <mat-card-title>
                                        <core-ui-text-view [text]="tta.jobtitle" classtouse="bold"></core-ui-text-view>
                                    </mat-card-title>
                                    <div class="downer">
                                        <mat-card-subtitle>
                                            <core-ui-text-view [text]="tta.percentage+'%'" classtouse="blue"></core-ui-text-view>
                                        </mat-card-subtitle>
                                    </div>
                                </div>
                                <mat-card-subtitle>
                                    <core-ui-text-view [text]="tta.jobdesc" classtouse="default" layout-wrap></core-ui-text-view>
                                </mat-card-subtitle>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>