<div class="row">
    <div class="column" >
        <mat-card class="cabor">
            <mat-card-title>
                <core-ui-text-view text="Laporan" classtouse="title"></core-ui-text-view>
            </mat-card-title>
            <mat-card-subtitle>
                <core-ui-text-view text="Rabu, 26 November 2019" classtouse="subtitle"></core-ui-text-view>
            </mat-card-subtitle>
        </mat-card>
        <br>
        <!-- <components-card-report-task [data]="dataDummy"></components-card-report-task> -->
        <core-ui-button text="Edit laporan" classtouse="btn-blue btn-free-reportadd"></core-ui-button>
    </div>
    <div class="column1">
        <mat-divider vertical style="height:676px; position: absolute;"></mat-divider>
    </div>
    <div class="column" >
        <mat-card class="cabor">
            <div class="pesento space-between">
                <mat-card-title>
                    <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                </mat-card-title>
                <div class="downer">
                    <mat-card-subtitle>
                        <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
                    </mat-card-subtitle>
                </div>
            </div>
            <mat-card-subtitle>
                    <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
            </mat-card-subtitle>
        </mat-card>
        <mat-card class="cabor">
            <div class="pesento space-between">
                <mat-card-title>
                    <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                </mat-card-title>
                <div class="downer">
                    <mat-card-subtitle>
                        <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
                    </mat-card-subtitle>
                </div>
            </div>
            <mat-card-subtitle>
                    <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="column" >
        <mat-card class="cabor">
            <div class="pesento space-between">
                <mat-card-title>
                    <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                </mat-card-title>
                <div class="downer">
                    <mat-card-subtitle>
                        <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
                    </mat-card-subtitle>
                </div>
            </div>
            <mat-card-subtitle>
                    <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
            </mat-card-subtitle>
        </mat-card>
        <mat-card class="cabor">
            <div class="pesento space-between">
                <mat-card-title>
                    <core-ui-text-view text="Desain Blog Dinas Kesehatan" classtouse="bold"></core-ui-text-view>
                </mat-card-title>
                <div class="downer">
                    <mat-card-subtitle>
                        <core-ui-text-view text="100%" classtouse="blue"></core-ui-text-view>
                    </mat-card-subtitle>
                </div>
            </div>
            <mat-card-subtitle>
                    <core-ui-text-view text="Bikin Homepage, blog, gallery dan sebagainya pokoknya lengkap deh" classtouse="default"></core-ui-text-view>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
