.cabor
  background: #FFFFFF 0% 0% no-repeat padding-box
  border: 1px solid #E7E7E7
  border-radius: 6px
  opacity: 1
  margin-bottom: 20px
  &:active
    border: 1px solid blue

.column
  float: left
  width: 25%
  padding: 40px
.column1
  float: left
  width: 1%
  padding: 10px

.row:after
  content: ""
  display: table
  clear: both

.vl
  border-left: 2px solid lightgrey
  height: 500px

.beinline-left
    display: inline-block
    margin-right: 10px
.beinline-right
    display: inline-block
.minmarg1
  margin-bottom: -40px
.minmarg2
  margin-bottom: -15px