<mat-expansion-panel class="default">
        <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Role</b>
        </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-action-list>
                <mat-divider></mat-divider>
            <button mat-list-item> Lihat Detail Role </button>
                <mat-divider></mat-divider>
            <button mat-list-item> Edit Role </button>
                <mat-divider></mat-divider>
            <button mat-list-item> Delete Role </button>
        </mat-action-list>
</mat-expansion-panel>