<form class="addUser" method="POST" >
<h2 style="font-family: Source Sans Pro">Add User</h2>
<div fxLayout="row" fxLayoutAlign="center center">
    <flex-directive>
            <input
            placeholder="Nama User"
            type="text"
            class="user"
            [(ngModel)]="namaUser"
            name="namaUser">
        <br>
        <br>
        <input
            placeholder="Email User"
            type="text"
            class="user"
            [(ngModel)]="emailUser"
            name="emailUser">
        <br>
        <br>
        <input
            placeholder="Username"
            type="text"
            class="user"
            [(ngModel)]="userName"
            name="userName">
        <br>
        <br>
        <input
            name="password"
            placeholder="Password"
            type="password"
            class="user"
            required minlength="6"
            [(ngModel)]="password"
            >

    </flex-directive>
</div>

<br><br>
<core-ui-button text="Simpan" classtouse="btn-green btn-reportsave"  (click)="save()"></core-ui-button>
</form>
