<h2 style="font-family: Source Sans Pro">Add User</h2>
<div fxLayout="row" fxLayoutAlign="center center">
    <flex-directive>
        <core-ui-text-input text="Nama User" classtouse="user"></core-ui-text-input>
        <br>
        <br>
        <core-ui-text-input text="Email User" classtouse="user"></core-ui-text-input>
        <br>
        <br>
        <core-ui-text-input text="Username" classtouse="user"></core-ui-text-input>
        <br>
        <br>
        <core-ui-text-input text="Password" classtouse="user"></core-ui-text-input>
    </flex-directive>
</div>

<br><br>
<core-ui-button text="Simpan" classtouse="btn-green btn-reportsave"></core-ui-button>